<%# add navigation links to this file %>
<li class="active"><%= link_to 'Team', teams_path, class: 'navbar-brand' %></li>
<li><%= link_to 'Match', root_path, class: 'navbar-brand' %></li>
<li><%= link_to 'Game', root_path, class: 'navbar-brand' %></li>

